@font-face {
    font-family: 'TT Norms Pro Regular';
    src: url('../assets/Fonts/TT-Norms®-Pro/Demo_Fonts/Fontspring-DEMO-tt_norms_pro_regular.otf');
  }
  
  @font-face {
    font-family: 'TT Norms Pro Medium';
    src: url('../assets/Fonts/TT-Norms®-Pro/Demo_Fonts/Fontspring-DEMO-tt_norms_pro_medium.otf');
  }

  .sidebar {
    background-color: #FFFFFF; /* color de fondo de la barra lateral */
    width: 100px; /* ajusta el ancho de la barra lateral según tus necesidades */
    height: 100%; /* ajusta la altura de la barra lateral según tus necesidades */
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    padding: 10px;
  }
  
  .navigation li a {
    text-decoration: none;
    color: #000000; /* color del texto de los enlaces */
  }
  .content {
    margin-left: 100px; /* ajusta el margen izquierdo para dejar espacio para la barra lateral */
    /* Agrega otros estilos o ajustes según el contenido de la página */
  }

  .sidebar-right {
    background-color: #FFFFFF; /* color de fondo de la barra lateral */
    width: 100px; /* ajusta el ancho de la barra lateral según tus necesidades */
    height: 100%; /* ajusta la altura de la barra lateral según tus necesidades */
    position: fixed;
    right: 0; /* posiciona la barra lateral a la derecha */
    top: 0;
  }
  
  .sidebar-right img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 10px;
    right: 0px;
  }

  body {
    background-color: rgb(240,250,255); /* color de fondo de la bar*/
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    margin-top: 2%; /* Ajusta el margen superior según sea necesario */
  }
  
  .logo img {
    max-width: 150%;
    max-height: 150%;
  }

  .text-container {
    text-align: justify;
    font-family: "TT Norms Pro Medium";
    font-size: 16px;
    line-height: 1.5;
    margin-left: 70px; /* Espacio negro en el lado izquierdo */
  margin-right: 150px;
  padding: 0px;
  }
  
  .text-container p {
    margin-bottom: 10px;
  }

  
  #familias{
    display: block;
    margin: 0 auto;

  }

  #josh {
    float: right; 
  }

  #copy{
    font-size: 10px;
    text-align: center;
  }

  .live-img {
    width: 86px;
    height: 86px;
  }